.aboutcard{
    width: 500px;
    height: 700px;
  
    margin-left: 37.5%;
    margin-top: 100px;

   background-color:  rgba(255, 0, 0, 0);
}
.image{
background-image: url("./IMG_0796.JPG");
box-shadow: 0px 0px whitesmoke;
border-radius: 25px;
height: 150px;
width: 40%;
margin-left: 150px;
margin-bottom: -100px;
box-shadow: 0px 0px 48px whitesmoke;
} 

.imagesize{
margin-top: 200px;

}
.abouttext{
    margin-top: 200px;
    margin-left: 20px;
    color:rgb(197, 197, 197);
    background-color:  rgba(255, 0, 0, 0); 
   /* font-family: "Cinzel";
   font-size: 15px; */
   /* box-shadow: 0px 0px 48px whitesmoke; */
   border-radius: 25px;
   /* text-shadow: 0px 0px 16px whitesmoke;  */
  
}

.paragraph{
  margin: 20px;
}
@media only screen and (max-width: 1250px){
  .aboutcard{
      margin-left: 25%;
  }
 
}
@media only screen and (max-width: 1100px){
  .aboutcard{
      margin-left: 20%;
  }
 
}
@media only screen and (max-width: 950px){
  .aboutcard{
      margin-left: 15%;
  }
 
}

@media only screen and (max-width: 800px){
  .aboutcard{
      margin-left: 7.5%;
  }
 
}