.aboutcard{
    width: 500px;
    height: 700px;
  
    margin-left: 37.5%;
    margin-top: 100px;

   background-color:  rgba(255, 0, 0, 0);
}
.image{
background-image: url("ProfilePic.jpg");
box-shadow: 0px 0px whitesmoke;
border-radius: 25px;
height: 410px;
width: 440px;
margin-left: 35px;
margin-bottom: -100px;
box-shadow: 0px 0px 48px whitesmoke;
transform: scale(.5,.5);

} 

.imagesize{
margin-top: 200px;

}
.abouttext{
    margin-top: 100px;
    margin-left: 20px;
    color:rgb(197, 197, 197);
    background-color:  rgba(255, 0, 0, 0); 
   /* font-family: "Cinzel";
   font-size: 15px; */
   /* box-shadow: 0px 0px 48px whitesmoke; */
   border-radius: 25px;
   /* text-shadow: 0px 0px 16px whitesmoke;  */
  
}

.paragraph{
  margin: 20px;
}
@media only screen and (max-width: 1250px){
  .aboutcard{
      margin-left: 25%;
  }
 
}
@media only screen and (max-width: 1100px){
  .aboutcard{
      margin-left: 20%;
  }
 
}
@media only screen and (max-width: 1024px){
  .aboutcard{
    margin-left: 0%;
    width: 500px;
}
.imagesize{
  margin-top: 50px;
  
}
.abouttext{
  font-size: 12px;
  width: 300px;
  margin-left: 100px;
}
}

@media only screen and (max-width: 768px){

  .aboutcard{
    margin-left: 4%;
    width: 300px;
    margin-top: 0px;

}
.image{
  margin-left: -65px;
}
.abouttext{
  font-size: 12px;
  margin-left: 0px;
  margin-top: 50px;
}
 
}

@media only screen and (max-width: 414px){
  .aboutcard{
    margin-left: 3.25%;
    width: 300px;
    margin-top: 0px;

}
.imagesize{
  margin-top: -75px;
  
  }
.image{
  margin-left: -70px;
}

.abouttext{
  font-size: 14px;
}
}
@media only screen and (max-width: 411px){
  .aboutcard{
    margin-left: 3%;
    width: 300px;
    margin-top: 0px;

}

.abouttext{
  font-size: 14px;
}
}
@media only screen and (max-width: 375px){
  .aboutcard{
    margin-left: 2%;
    width: 300px;
    margin-top: 0px;

}

.abouttext{
  font-size: 14px;
}
}
@media only screen and (max-width: 360px){
  .aboutcard{
    margin-left: 2%;
    width: 300px;
    margin-top: 0px;

}

.abouttext{
  font-size: 12px;
}
}

@media only screen and (max-width: 320px){
  .aboutcard{
    margin-left: 1%;
    width: 300px;
    margin-top: 0px;

}

.abouttext{
  font-size: 12px;
}
}