.contactcard{
    width: 500px;
    height: 600px;
  
    margin-left: 37.5%;
   

   background-color:  rgba(255, 0, 0, 0);
}


.form{
    margin-top: 250px;
    height:200px;
    color: rgb(197, 197, 197);
}

.form-control{
    box-shadow: 0px 0px 48px whitesmoke;
}

.submitbtn{
    margin-left:67.5px;
    margin-top: 25px;
    box-shadow: 0px 0px 36px whitesmoke;
    width: 150px;
    height: 75px;
    color: rgb(197, 197, 197);

}
#resetbtn{
    margin-left: 100px;
}
.E{
    margin-bottom: 50px;
}
 
@media only screen and (max-width: 1250px){
    .contactcard{
        margin-left: 25%;
    }
   
}
@media only screen and (max-width: 1100px){
    .contactcard{
        margin-left: 20%;
    }
   
}
@media only screen and (max-width: 950px){
    .contactcard{
        margin-left: 15%;
    }
   
}

@media only screen and (max-width: 800px){
    .contactcard{
        margin-left: 7.5%;
    }
   
}