.Navbar{
    width: 1728px;
    height: 100px;
    font-family: "Cinzel";
    font-size: 20px;
    text-decoration: none !important;
}

.link{
   
    margin-left: 100px;
    margin-top: 20px;
    text-decoration: none;
}

.about{
margin-left: 1300px;

}

.contact{

}

.portfolio{

}
.text{
    color: rgb(150, 2, 2);
    opacity: 0.7;
}
.text:hover{
    text-shadow: 0px 0px 16px whitesmoke; 
}
