.Navbar{
    width: 1728px;
    height: 100px;
    font-family: "Bangers";
    font-size: 20px;
    text-decoration: none !important;
}

.link{
   
    margin-left: 65px;
    margin-top: 20px;
    text-decoration: none;
}
.name{
    margin-left: 30px;
    margin-top: 20px;
}

.about{
margin-left: 1150px;

}

.contact{

}

.portfolio{

}
.text{
    color: whitesmoke;
    opacity: 0.7;
}
.text:hover{
    text-shadow: 0px 0px 16px whitesmoke; 
}

@media only screen and (max-width: 1500px){
    .about{
        margin-left: 930px;
    }

   
}

@media only screen and (max-width: 1300px){
    .about{
        margin-left: 600px;
    }
 

}

@media only screen and (max-width: 1100px){
    .about{
        margin-left: 450px;
    }
    .contact{
        margin-left: 50px;
    }
    .portfolio{
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1024px){
    .about{
        margin-left: 200px;
        font-size: 15px;
    }
    .contact{
        margin-left: 20px;
        font-size: 15px;
    }
    .portfolio{
        margin-left: 20px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 414px){
    .about{
        margin-left: 110px;
        font-size: 15px;
    }
    .contact{
        margin-left: 15px;
        font-size: 15px;
    }
    .portfolio{
        margin-left: 15px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 375px){
    .about{
        margin-left: 90px;
        font-size: 14px;
    }
    .contact{
        margin-left: 10px;
        font-size: 14px;
    }
    .portfolio{
        margin-left: 10px;
        font-size: 14px;
    }

}
@media only screen and (max-width: 360px){
    .about{
        margin-left: 90px;
        font-size: 14px;
    }
    .contact{
        margin-left: 10px;
        font-size: 14px;
    }
    .portfolio{
        margin-left: 10px;
        font-size: 14px;
    }

}

@media only screen and (max-width: 320px){
    .about{
        margin-left: 45px;
        font-size: 14px;
    }
    .contact{
        margin-left: 10px;
        font-size: 14px;
    }
    .portfolio{
        margin-left: 10px;
        font-size: 14px;
    }

}