.Navbar{
    width: 1728px;
    height: 100px;
    font-family: "Cinzel";
    font-size: 20px;
    text-decoration: none !important;
}

.link{
   
    margin-left: 95px;
    margin-top: 20px;
    text-decoration: none;
}

.about{
margin-left: 1150px;

}

.contact{

}

.portfolio{

}
.text{
    color: rgb(150, 2, 2);
    opacity: 0.7;
}
.text:hover{
    text-shadow: 0px 0px 16px whitesmoke; 
}

@media only screen and (max-width: 1500px){
    .about{
        margin-left: 625px;
    }
    .contact{
        margin-left: 410px;
    }
   
}

@media only screen and (max-width: 1300px){
    .about{
        margin-left: 450px;
    }
    .contact{
        margin-left: 100px;
    }
    .portfolio{
        margin-left: 370px;
    }
}

@media only screen and (max-width: 1100px){
    .about{
        margin-left: 300px;
    }
    .contact{
        margin-left: 50px;
    }
    .portfolio{
        margin-left: 50px;
    }
}

@media only screen and (max-width: 1024px){
    .about{
        margin-left: 260px;
        font-size: 15px;
    }
    .contact{
        margin-left: 20px;
        font-size: 15px;
    }
    .portfolio{
        margin-left: 20px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px){
    .about{
        margin-left: 260px;
        font-size: 15px;
    }
    .contact{
        margin-left: 20px;
        font-size: 15px;
    }
    .portfolio{
        margin-left: 20px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 414px){
    .about{
        margin-left: 230px;
        font-size: 15px;
    }
    .contact{
        margin-left: 15px;
        font-size: 15px;
    }
    .portfolio{
        margin-left: 15px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 414px){
    .about{
        margin-left: 260px;
        font-size: 15px;
    }
    .contact{
        margin-left: 15px;
        font-size: 15px;
    }
    .portfolio{
        margin-left: 15px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 375px){
    .about{
        margin-left: 230px;
        font-size: 14px;
    }
    .contact{
        margin-left: 10px;
        font-size: 14px;
    }
    .portfolio{
        margin-left: 10px;
        font-size: 14px;
    }
    .link{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 360px){
    .about{
        margin-left: 230px;
        font-size: 13px;

    }

    .contact{
        margin-left: 10px;
        font-size: 13px;

    }

    .portfolio{
        margin-left: 10px;
        font-size: 13px;
        
    }


}

@media only screen and (max-width: 320px){
    .about{
        margin-left: 190px;
        font-size: 13px;
    }
    .contact{
        margin-left: 10px;
        font-size: 13px;
    }
    .portfolio{
        margin-left: 10px;
        font-size: 13px;
    }


}