.bodydiv{
  width: 1728px;
  height:1080px;
  background-image: url("GlowingForestGraphicsEdit.png");
  text-decoration: none !important;
 
}

@media only screen and(max-width: 414px){
  .bodydiv{

  }
}

